# wms-layerswitcher.cfg - WMS layer support, default controls and LayerSwitcher.

[first]
OpenLayers/SingleFile.js
OpenLayers.js
OpenLayers/BaseTypes.js
OpenLayers/BaseTypes/Class.js
OpenLayers/Util.js
Rico/Corner.js

[last]

[include]
OpenLayers/Map.js
OpenLayers/Layer/WMS.js
OpenLayers/Control/Attribution.js
OpenLayers/Control/ArgParser.js
OpenLayers/Control/Navigation.js
OpenLayers/Control/PanZoom.js
OpenLayers/Control/LayerSwitcher.js

[exclude]


